* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.avatar {
    border-radius: 50%;
    width: 24rem;
    height: auto;
}

header {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 5rem;
    width: 100%;
    background-color: #4FBFFF;
}

header a {
    color: white;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: purple;
}

li, a, button {
    text-decoration: none;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.screen1 {
    display: block;
    height: 40rem;
    width: 100%;
    background-color: #8B62FF;
}

h1 {
    color: white;
    font-weight: 100;
    font-size: 46px;
    text-align: center;
    padding: 11rem 0rem;
    width: 60%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.screen1 button {
    position: absolute;
    margin: 0;
    top: 68%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1.2rem 2.2rem;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-self: center;
    font-size: 26px;
    color: #8B62FF;
}

.screen1 button:hover {
    background-color: purple;
}

.screen2 {
    display: flex;
    width: 100%;
    height: 56rem;
    background-color: #A5A5A5;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.abt {
    width: 50%;
    padding-top: 8rem;
}

.desc {
    color: black;
    font-size: 22px;
    width: 40%;
    padding: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.screen3 {
    height: 48rem;
    background-color: #8B62FF;
    display: block;
}

h2 {
    font-size: 44px;
    padding: 8rem 10rem;
    font-weight: 80;
    height: 45px;
}

.sites {
    display: flex;
    justify-content: center;
}

.site {
    width: 40%;
}

.ss {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 25rem;
    height: 17rem;
}

.ssdesc {
    text-align: center;
    margin-top: 1rem;
}

.screen4 {
    height: 38rem;
}

footer {
    background-color: #A5A5A5;
    height: 10rem;
}