* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.avatar {
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 5rem;
    width: 100%;
    background-color: #4FBFFF;
}

header a {
    color: white;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: purple;
}

li, a, button {
    text-decoration: none;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.screen1 {
    display: block;
    height: 35rem;
    width: 100%;
    background-color: #8B62FF;
}

h1 {
    color: white;
    font-weight: 100;
    font-size: 46px;
    text-align: center;
    padding: 9rem 0rem;
    width: 60%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.screen1 button {
    position: absolute;
    margin: 0;
    top: 67%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1.2rem 2.2rem;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-self: center;
    font-size: 26px;
    color: #8B62FF;
}

.screen1 button:hover {
    background-color: purple;
}